.content {
  max-width: 1920px;
  margin: 0 50px 0 50px;
}

.icon {
  width: 204px;
  height: 204px;
}

.headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chaos{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input{
  background-color: rgb(15, 12, 31);
  height: 350px;
  width: 350px;
  border-radius: 10px;
  border-color: rgb(52, 49, 97);
}

.graph-container {
  width: 50%;
  height: 50vh;
  background: rgb(19, 14, 29);
  padding: 20px;
}

ngx-graph .node {
  fill: none !important;
  stroke: #00f7ff !important;
  stroke-width: 2px;
  filter: drop-shadow(0 0 8px #00f7ff);
}

ngx-graph .edge {
  stroke: #00f7ff !important;
  stroke-width: 1.5px;
  opacity: 0.8;
}

ngx-graph .node-label {
  fill: #00f7ff !important;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
}
