.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 50px 0 50px;
}

.icon {
  width: 204px;
  height: 204px;
}

.headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.chaos{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-right: 1px solid rgba(169, 169, 250, 0.15);
}

.input{
  background-color: rgb(15, 12, 31);
  height: 350px;
  width: 350px;
  border-radius: 10px;
  border-color: rgb(52, 49, 97);
  color: rgb(192, 254, 242);
}

.graph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 425px;
  background: rgb(19, 14, 29);
}

ngx-graph .node {
  fill: none !important;
  stroke: #00f7ff !important;
  stroke-width: 2px;
  filter: drop-shadow(0 0 8px #00f7ff);
}

ngx-graph .edge {
  stroke: #00f7ff !important;
  stroke-width: 1.5px;
  opacity: 0.8;
}

ngx-graph .node-label {
  fill: #00f7ff !important;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
}
