@font-face {
  font-family: 'Orbitron';
  src: url('../public/assets/fonts/Orbitron-VariableFont_wght.ttf');
}

body{
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(19, 14, 29);
}

h1{
  font-size: 84px;
  color: rgb(192, 254, 242);
}

h2{
  font-size: 42px;
  color: rgb(231, 242, 243);
}

h3{
  color: rgb(224, 250, 248);
}

button{
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(32, 28, 50);
  color: rgb(192, 254, 242);
  border-radius: 10px;
  width: 350px;
  height: 35px;
}
